<template>
    <!-- {{name}} -->
    <div class="{{modelClassName prefix}}{{parent.key}}__{{key}}">
        {{{copyComponent copy}}}
    </div>
</template>

<script lang="ts" setup>
import { I{{toUpperCaseHump key}} } from '@/api/{{parent.key}}/index';

const data = await I{{toUpperCaseHump key}}()
</script>

<style lang="scss" scoped>
.{{modelClassName prefix}}{{parent.key}}__{{key}} {
    height: 100%
}
</style>
