<template>
    <!-- {{name}} -->
    <div class="{{#if parent.prefix}}{{modelClassName parent.prefix}}/{{/if}}{{parent.key}}__{{key}}">
        {{key}}
    </div>
</template>

<script lang="ts" setup>
import { I{{toUpperCaseHump key}} } from '@/api/{{parent.prefix}}/{{parent.key}}/index';

const data = await I{{toUpperCaseHump key}}()
</script>

<style lang="scss" scoped>
.{{#if parent.prefix}}{{modelClassName parent.prefix}}/{{/if}}{{parent.key}}__{{key}} {
    height: 100%
}
</style>
