<template>
    <!-- {{name}} -->
    <div class='{{modelClassName prefix}}{{key}}'>
        <to-layout height='100%' :orient="'horizontal'">
            {{#each layout}}
            <model :height="'100%'" :orient="'vertical'" :width="'{{width}}'">
                {{#each children}}
                <sub-model :height="'{{height}}'" title='{{name}}' :width="'100%'">
                    {{#if key}}
                    <{{key}} />
                    {{/if}}
                </sub-model>
                {{/each}}
            </model>
            {{/each}}
        </to-layout>
    </div>
</template>

<script lang="ts" setup>
{{#each layout}}
{{#each children}}
{{#if key}}
import {{toUpperCaseHump key}} from './{{key}}.vue' // {{name}}
{{/if}}
{{/each}}
{{/each}}
</script>

<style lang="scss">
.{{modelClassName prefix}}{{key}} {
    height: 100%;
}
</style>
