<template>
    <!-- {{name}} -->
    <div class="{{modelClassName parent.prefix}}{{parent.key}}__{{key}}">
        <card-count2 amount-format :data="data"></card-count2>
    </div>
</template>

<script lang="ts" setup>
import { I{{toUpperCaseHump key}} } from '@/api/{{parent.prefix}}{{parent.key}}/index';

const data = await I{{toUpperCaseHump key}}()
</script>

<style lang="scss" scoped>
.{{modelClassName parent.prefix}}{{parent.key}}__{{key}} {
    margin-bottom: 20px;

    .components__card-count2 {
        height: 94px;
    }

    .components__card-count2 + .components__card-count2 {
        margin-top: 20px;
    }
}
</style>